## Data preprocessing

In [9]:
import pandas as pd

data = pd.read_csv("heart_2020_cleaned.csv")
data.head()
data.describe(include = "all")

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
count,319795,319795.000000,319795,319795,319795,319795.00000,319795.000000,319795,319795,319795,319795,319795,319795,319795,319795.000000,319795,319795,319795
unique,2,NaN,2,2,2,NaN,NaN,2,2,13,6,4,2,5,NaN,2,2,2
top,No,NaN,No,No,No,NaN,NaN,No,Female,65-69,White,No,Yes,Very good,NaN,No,No,No
freq,292422,NaN,187887,298018,307726,NaN,NaN,275385,167805,34151,245212,269653,247957,113858,NaN,276923,308016,289976
mean,NaN,28.325399,NaN,NaN,NaN,3.37171,3.898366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.097075,NaN,NaN,NaN
std,NaN,6.356100,NaN,NaN,NaN,7.95085,7.955235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.436007,NaN,NaN,NaN
min,NaN,12.020000,NaN,NaN,NaN,0.00000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,24.030000,NaN,NaN,NaN,0.00000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN
50%,NaN,27.340000,NaN,NaN,NaN,0.00000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN
75%,NaN,31.420000,NaN,NaN,NaN,2.00000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,NaN
max,NaN,94.850000,NaN,NaN,NaN,30.00000,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,NaN

In [13]:
# Normalization
#TODO
from sklearn.preprocessing import StandardScaler

data[['PhysicalHealth', 'MentalHealth']] = StandardScaler().fit_transform(data[['PhysicalHealth', 'MentalHealth']])
data.describe()

                 BMI  PhysicalHealth  MentalHealth      SleepTime
count  319795.000000    3.197950e+05  3.197950e+05  319795.000000
mean       28.325399    8.298828e-15 -7.509012e-15       7.097075
std         6.356100    1.000002e+00  1.000002e+00       1.436007
min        12.020000   -4.240698e-01 -4.900386e-01       1.000000
25%        24.030000   -4.240698e-01 -4.900386e-01       6.000000
50%        27.340000   -4.240698e-01 -4.900386e-01       7.000000
75%        31.420000   -1.725240e-01 -1.129278e-01       8.000000
max        94.850000    3.349118e+00  3.281069e+00      24.000000

## Calssification

In [ ]:
# Naive Bayes
# ID3
# C4.5

## Conclusions