In [2]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
documnets = ['a b c d e', 'a c d', 'a a b']

# Bag-of words

In [3]:
vectorizer = CountVectorizer(token_pattern = r"(?u)\b\w+\b")

X = vectorizer.fit_transform(documnets)

bow = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
bow

   a  b  c  d  e
0  1  1  1  1  1
1  1  0  1  1  0
2  2  1  0  0  0

# Binary reprezentation

In [4]:
binary = (bow>0)*1
binary

   a  b  c  d  e
0  1  1  1  1  1
1  1  0  1  1  0
2  1  1  0  0  0

# TF

In [5]:
tf = bow.div(bow.max(axis=1),axis=0)
tf

     a    b    c    d    e
0  1.0  1.0  1.0  1.0  1.0
1  1.0  0.0  1.0  1.0  0.0
2  1.0  0.5  0.0  0.0  0.0

# TF-IDF

In [7]:
nr_of_documents = len(documnets)
nr_of_documents_with_word = binary.sum()
print('nr_of_documents: ',nr_of_documents)
print(nr_of_documents_with_word.to_frame().T)

nr_of_documents:  3
   a  b  c  d  e
0  3  2  2  2  1

In [8]:
idf = np.log(nr_of_documents/nr_of_documents_with_word)
tf_idf = tf*idf
tf_idf

     a         b         c         d         e
0  0.0  0.405465  0.405465  0.405465  1.098612
1  0.0  0.000000  0.405465  0.405465  0.000000
2  0.0  0.202733  0.000000  0.000000  0.000000

# n grams

4-grams of word "Classification":
* Clas
* lass
* assi
* ssif
* sifi
* ...